.search_page {
    h1 {
        margin: 0;
    }



    // DESKTOP SCREEN{
    &_dp {
        display: none;

        @media screen and (min-width:772px) {
            display: block;

            &_header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-inline: 3rem;
                padding-block: 1rem;
                position: sticky;
                top: 0;
                z-index: 4;
                background-color: #f1f1f1;

                &_left {
                    display: flex;
                    align-items: center;
                }

                &_middle {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &_search {
                        display: flex;
                        align-items: center;
                        margin-inline-end: 1rem;

                        i {
                            position: relative;
                            left: 2.5rem;
                            font-size: 1.2rem;
                        }

                        width: 21.29rem;

                        input {
                            padding-inline-start: 3rem;
                            width: 100%;
                            height: 2.8rem;
                            border-radius: 0.5rem;
                            color: rgb(143, 190, 13);
                            border: 2px solid black;
                            font-size: 1rem;
                        }

                        input::placeholder {
                            color: rgb(158, 158, 148);
                            font-size: 1rem;
                        }
                    }

                    &_filter_button {
                        border: 1px solid;
                        width: 1.5rem;
                        height: 1.5rem;
                        border-radius: 2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }
                }

                &_right {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    &_avatar:hover {
                        background-color: #ABB237;
                        border: 2px solid black;
                    }

                    &_avatar {
                        height: 2.5rem;
                        width: 2.5rem;
                        border: 2px solid #ABB237;
                        border-radius: 2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: black;
                        cursor: pointer;

                        p {
                            padding: 0;
                            margin: 0;
                        }
                    }

                    i {
                        color: #ABB237;
                    }

                    i,
                    p {
                        font-size: 1.8rem;
                    }
                }
            }

            &_inner {
                display: grid;
                grid-template-columns: 0.1fr 3.5fr;
                gap: 5rem;
                padding-inline: 3.5rem;

                &_dashbd {
                    position: sticky;
                    top: 13%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: white;
                    padding-block: 2rem;
                    padding-inline: 1rem;
                    height: 67vh;
                    border-radius: 1rem;

                    &_top,
                    &_bottom {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 2rem;
                    }

                    &_top {

                        border-bottom: 1px solid gray;
                        padding-block-end: 1.5rem;
                    }

                    .fa-sign-out {
                        color: rgb(162, 46, 46);
                    }

                    i:hover {
                        background-color: #ABB237;
                        color: white;
                        border-radius: 2rem;
                    }

                    i {
                        transition: all 0.5s;
                        padding-inline: 0.5rem;
                        padding-block: 0.5rem;
                        font-size: 1.3rem;
                    }
                    .home{
                        background-color: #ABB237;
                        color: white;
                        border-radius: 2rem;
                    }
                }

                &_results {
                    &_filter {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        justify-content: space-between;
                        padding-block: 2rem;

                        select {
                            border: 0;
                            font-size: 1rem;
                            font-family: chivo;
                            padding-inline-end: 0.5rem;
                            background-color: #f1f1f1;

                            option {
                                border: 0;
                                padding: 3rem;
                            }

                            option:hover {
                                background-color: #ABB237;
                            }
                        }
                    }

                    &_inner {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        align-items: center;
                        gap: 3rem;

                        a {
                            text-decoration: none;
                            color: black;
                        }

                        .none {
                            display: none;
                        }

                        &_result {
                            &_inner {
                                &_img {
                                    img {
                                        border-radius: 1rem;
                                        width: 100%;
                                    }
                                }

                                &_info {
                                    &_inner {
                                        padding-inline: 1rem;
                                        padding-block: 0.5rem;
                                        display: flex;
                                        flex-direction: column;
                                        gap: 0.4rem;

                                        .price {
                                            font-size: 1.5rem;
                                        }

                                        .location,
                                        .ar {
                                            font-size: 1rem;
                                            font-weight: 600;
                                        }


                                        &_x-details {
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;

                                            i {
                                                transition: all 0.5s;
                                                .active {
                                                    color: #ABB237;
                                                }
                                            }

                                            i:hover {
                                                color: #ABB237;
                                            }

                                            h1 {
                                                font-size: 1rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //MOBILE SCREEN {
    &_mobile {
        display: none;

        @media screen and (max-width:772px) {
            display: block;
            margin: 0;
            padding: 0;


            &_header {
                position: sticky;
                background-color: #f1f1f1;
                z-index: 4;
                top: 0;
                padding-inline: 0.8rem;
                display: flex;
                gap: 0.2rem;
                align-items: center;
                font-size: 0.5rem;

                h1 {
                    font-weight: 300;
                }

                border-bottom: 1px solid rgb(158, 158, 148);
                padding-block: 1.5rem;
            }

            &_inner {

                padding-block-start: 1.7rem;
                padding-inline: 0.8rem;


                &_filter {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &_search {
                        display: flex;
                        align-items: center;
                        margin-inline-end: 1rem;

                        i {
                            position: absolute;
                            left: 2rem;
                            font-size: 1.2rem;
                        }

                        width: 21.29rem;

                        input {
                            padding-inline-start: 3rem;
                            width: 100%;
                            height: 3.25rem;
                            color: rgb(143, 190, 13);
                            border: 2px solid black;
                        }

                        input::placeholder {
                            color: rgb(158, 158, 148);
                        }
                    }

                    &_filter_button {
                        border: 1px solid;
                        width: 1.5rem;
                        height: 1.5rem;
                        border-radius: 2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }
                }

                &_top_picks {
                    padding-block-start: 1.5rem;

                    &_header {
                        h1 {
                            font-size: 11px;
                        }
                    }

                    &_inner {
                        ul {
                            list-style: none;
                            padding-inline-start: 0;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                            overflow-x: scroll;
                            font-size: 11px;
                        }
                    }
                }

                &_scope_button {
                    padding-block-start: 1.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // height: 3.125rem;
                    color: white;
                    // width: 22.25rem;

                    button {
                        background-color: #ABB237;
                        border: 1px solid;
                        width: 100%;
                        padding-block: 1rem;
                        padding-inline: 2rem;

                        span {

                            font-size: 0.875rem;
                            letter-spacing: 0.1px;
                            font-weight: 100;
                        }
                    }
                }

                &_results {
                    margin-block-start: 1rem;

                    a {
                        text-decoration: none;
                        color: black;
                    }


                    .none {
                        display: none;
                    }

                    &_result {
                        color: black;
                        margin-block-end: 2rem;



                        .search_page_inner_results_result_inner_image {
                            width: 100%;
                            height: 25%;
                        }

                        &_inner {
                            width: 100%;

                            &_img {
                                display: none;
                            }

                            img {
                                width: 100%;
                            }



                            .price {
                                font-size: 22px;

                            }

                            h1 {
                                font-weight: 400;
                            }

                            .location {

                                text-transform: uppercase;
                                font-size: 14px;
                            }

                            &_info {
                                .banded {

                                    &.none {
                                        display: none;
                                    }
                                }

                                &_inner {
                                    &.none {
                                        display: none;
                                    }

                                    &_x-details {
                                        display: flex;
                                        justify-content: space-between;

                                        h1 {
                                            font-size: 14px;
                                        }
                                    }
                                }


                            }

                            .swiper-wrapper {
                                position: relative;
                                z-index: 0;
                            }

                            .swiper-pagination {
                                position: absolute;
                                z-index: 1;
                            }

                            .swiper-pagination-bullet {
                                background-color: black;
                            }

                            .scroll {
                                right: 0;
                                left: 0;
                                bottom: 0;
                                top: 0;
                                width: 100%;
                                justify-content: space-between;
                                position: absolute;
                                display: flex;

                                .fas {
                                    opacity: 0;
                                    color: white;
                                    font-size: 100%;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}